<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello VueJS</title>

        <style>
            .box {
                padding: 100px 0;
                display: inline-block;
                margin: 10px;
                width: 300px;
                text-align: center;
                background-color: #fff;
                box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                cursor: pointer;
                user-select: none;
            }
        </style>

        <script src="https://unpkg.com/vue@3.0.2"></script>
    </head>
    <body>
        <h1>Hello VueJS</h1>

        <div id="app">
            <div v-if="showName">
                <p>Hello {{ name }}</p>
            </div>

            <div>
                <button @click="toggleNameDisplay">
                    <span v-if="showName">Hide Name</span>
                    <span v-else>Show Name</span>
                </button>
            </div>

            <div v-show="showName">
                <p>Currently showing name</p>
            </div>

            <!-- Mouse events -->
            <div class="box" @mouseover="handleEvent">Mouseover (Enter)</div>
            <div class="box" @mouseout="handleEvent">Mouseout</div>
            <div class="box" @dblclick="handleEvent">Double click</div>
            <div class="box" @mousemove="handleMousemove">
                Mouse move {{ x }} - {{ y }}
            </div>

            <!-- Outputing list -->
            <div>
                <ul>
                    <li v-for="item in books">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.author }}</p>
                    </li>
                </ul>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>
